body {
  margin-top: 5%;
  background-color: #0b0724;
  color: white;
  font-weight: normal;
  font-style: normal;
  font-family: BariolFont, "Ubuntu", Helvetica, Arial, sans-serif;
  /*font-family: "Ubuntu", Helvetica, Arial, sans-serif;*/
}
h1 {
  font-size: 80px;
}
#mainLogo {
  max-width: 30%;
}

@font-face {
  font-family: "BariolFont";
  src: url("./fonts/bariol_bold-webfont.ttf");
}
